
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20, 138, 49);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(21, 28, 133);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(19, 151, 212);
}